*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
:root {
    --primary-text:#7CB9E8;
    --secondary-text:#ffc107;
    --primary-border:lightblue;
    --primary-background:lightcyan;
    --secondary-background: white;
}
body {
    background:var(--primary-background);
    margin: 0 auto;
    width: 95%;
}
/*Dynamic background based on weather*/
.clear-sky-day{
    background-image: url(../images/clear-sky-day.jpg);
}
.clear-sky-night{
    background-image: url(../images/clear-sky-night.jpg);
}
.partly-cloudy-day{
    background-image: url(../images/partly-cloudy-day.jpg);
}
.partly-cloudy-night{
    background-image: url(../images/partly-cloudy-night.jpg);
}
.scattered-clouds-day{
    background-image: url(../images/scattered-clouds-day.jpg);
}
.scattered-clouds-night{
    background-image: url(../images/scattered-clouds-night.jpg);
}
.broken-clouds-day{
    background-image: url(../images/broken-clouds-day.jpg);
}
.broken-clouds-night{
    background-image: url(../images/broken-clouds-night.jpg);
}
.rainy-day{
    background-image: url(../images/rainy-day.jpg);
}
.rainy-night{
    background-image: url(../images/rainy-night.jpg);
}
.rain-day{
    background-image: url(../images/rain-day.jpg);
}
.rain-night{
    background-image: url(../images/rain-night.jpg);
}
.thunderstorm-day{
    background-image: url(../images/thunderstorm-day.jpg);
}
.thunderstorm-night{
    background-image: url(../images/thunderstorm-night.jpg);
}
.snow-day{
    background-image: url(../images/snow-day.jpg);
}
.snow-night{
    background-image: url(../images/snow-night.jpg);
}
.mist-day{
    background-image: url(../images/mist-day.jpg);
}
.mist-night{
    background-image: url(../images/mist-night.jpg);  
}
/*Giving all background images the same properties*/
.clear-sky-day, .clear-sky-night,
.partly-cloudy-day,.partly-cloudy-night,
.scattered-clouds-day,.scattered-clouds-night,
.broken-clouds-day,.broken-clouds-night,
.rainy-day,.rainy-night,
.rain-day,.rain-night,
.thunderstorm-day,.thunderstorm-night,
.snow-day,.snow-night,
.mist-day,.mist-night,
.weatherHeader, #forecastHeader 
#cityInput, #cityDate {
    object-fit: contain;
    background-size:cover;
    background-repeat: no-repeat;
}
/*Sets primary colors of all text*/
h1,h2,h3,h4,h5,h6{
    color: var(--primary-text);   
}
/*individual stroke widths based on size*/
h1 {
    stroke:black;
    stroke-width: 1.5px;
    -webkit-text-stroke: 1.5px black;
}
h3 {
    stroke:black;
    stroke-width: 1px;
    -webkit-text-stroke: 1px black;
}
h4,h5 {
    stroke:black;
    stroke-width: .75px;
    -webkit-text-stroke: .75px black;
}
h6 {
    stroke:black;
    stroke-width: .5px;
    -webkit-text-stroke: .5px black;
}
/*background for icon to make more visible*/
img {
    background-color: steelblue;
    border-radius: 10px;
}
/*Header styling*/
.weatherHeader {
    border: var(--primary-border);
    border-style: inset;
    border-width: 10px;
    border-top: none;
    background-image: url(../images/partly-cloudy-day.jpg);
}
/*Aside styling*/
#cityInput {
    color:var(--primary-text);
    stroke:black;
    stroke-width: .75px;
    -webkit-text-stroke: .75px black;
    background-image: url(../images/partly-cloudy-day.jpg);
    border-radius: 10px;
}
#searchContainer {
    border: var(--secondary-text);
    border-style: dotted;
    border-width: 5px;
    border-left:none;
    border-right: none;
    border-bottom: none;
}
.clicked {
    background-color: var(--secondary-background);
    margin: 5px;
    border-radius: 10px;
    color:var(--primary-text);
    stroke:black;
    stroke-width: .75px;
    -webkit-text-stroke: .75px black;
}
/*Current weather styling*/
#cityDate{
    background-image: url(../images/partly-cloudy-day.jpg);
    border: var(--primary-border);
    border-style: inset;
    border-width: 10px;
}
.dailyText {
    color:var(--secondary-text);
    margin-left:10px;
    margin-bottom:10px;
}
#cityDate,#forecastHeader {
    padding-left: 10px;
}
#UV {
    display:inline-flex;
}
#UVBox{
    border-radius: 10px;
    margin-left: 10px;
}
/*UV colors based on severity. Colors, and value limits determined by EPA standards*/
.extreme{
    background-color: fuchsia;
}
.veryHigh{
    background-color: red;
}
.high{
    background-color:orange;
}
.moderate{
    background-color: gold;
}
.low{
    background-color: green;
}
.none{
    background-color: lightgray;
}
/*Start 5 day forecast styling*/
#forecastHeader {
    background-image: url(../images/partly-cloudy-day.jpg);
}
.card {
    background-color: var(--secondary-background);
    padding:3px;
}
.card,#forecastHeader {
    border: var(--primary-border);
    border-style: inset;
    border-width: 10px;
}
.card h3,h5,h6 {
    color:#ffc107
}
@media screen and (max-width: 1240px){
    .cardText {
        font-size: smaller;
    }
}
@media screen and (max-width: 1100px){
    h1,h3,h4 {
        font-size:3vw;
    }
    .cardText {
        word-wrap: break-word;
    }
    img {
        height: auto;
        width: 45px;
    }
}
@media screen and (max-width: 575px) {
    .clicked {
        font-size: smaller;
        text-align: center;
        padding: 0px
    }
    .cardText {
        font-size: larger;
    }
    img {
        height: auto;
        width: 40px;
    }
  }
  @media screen and (max-width: 480px) {
    h1,h3,h4 {
        font-size:medium;
    }
    img {
        height: auto;
        width: 30px;
    }
    #asideContainer, #dailyContainer, #searchContainer {
        padding-left: 10px;
        padding-right:0px
    }
    .clicked {
        font-size: smaller;
        text-align: center;
        padding: 0px;
        word-wrap: break-word;
    }
    .cardText {
        font-size: medium;
    }
  }
  @media screen and (max-width: 300px) {
    h1,h3,h4 {
        font-size:small;
    }
  }